/* ENVUELVE TODO Y LO CENTRA */
.gacha-wrapper {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* CONTENEDOR DEL AVATAR */
#avatar-container {
    position: relative;
    width: 350px;
    height: 450px;
    background: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #ccc;
}

/* TODAS LAS CAPAS */
.avatar-layer {
    position: absolute;
    width: 350px;
    height: 450px;
    top: 0;
    left: 0;
    object-fit: contain;   /* Alinea correctamente las imágenes */
    pointer-events: none;
}

/* ORDEN DE CAPAS CON Z-INDEX */

/* Fondo */
.avatar-layer[data-layer="back"] {
    z-index: 1;
}

/* Cabello detrás de la cara */
.avatar-layer[data-layer="pelonuca"],
.avatar-layer[data-layer="peloatras"] {
    z-index: 2;
}

/* Cuerpo */
.avatar-layer[data-layer="cuerpo"] {
    z-index: 3;
}

/* Tatuajes y accesorios finales */
.avatar-layer[data-layer="tatu"] {
    z-index: 4;
}

/* Ropa */
.avatar-layer[data-layer="polera"] {
    z-index: 5;
}
.avatar-layer[data-layer="chaqueta"] {
    z-index: 6;
}



/* Cara y detalles frontales */
.avatar-layer[data-layer="cara"] {
    z-index: 7;
}
.avatar-layer[data-layer="ojos"] {
    z-index: 8;
}

.avatar-layer[data-layer="boca"] {
    z-index: 10;
}

/* Orejas y patillas */
.avatar-layer[data-layer="oreja"] {
    z-index: 11;
}
.avatar-layer[data-layer="patilla"] {
    z-index: 12;
}

/* Flequillo / chasquilla al frente */
.avatar-layer[data-layer="chasquilla"] {
    z-index: 13;
}
.avatar-layer[data-layer="ceja"] {
    z-index: 14;
}


/* PANEL DE CONTROLES */
#controls-panel {
    width: 300px;
    height: 450px;
    overflow-y: auto;
    padding: 15px 20px;
    background: #fff;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* TITULOS DE CATEGORÍAS */
#controls-panel h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
}

/* BOTONES */
.control-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.nav-btn {
    padding: 8px 12px;
    font-size: 20px;
    background: #adc178;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.nav-btn:hover {
    background: #adc178;
}

.current-index-display {
    font-weight: bold;
    font-size: 14px;
    min-width: 50px;
    text-align: center;
}
