body {
    padding-top: 70px;
}

.barra_nav {
    background-color: #adc178;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Sour Gummy", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 30px;
    margin-bottom: 30px;
}

.barra_nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 13px;
    font-weight: bold;
}   
.id_button {
    color :rgb(0, 0, 0);
    font-family: "Inder", sans-serif;
}
.id_titulo_prime {
    font-family: "Sour Gummy", sans-serif;
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
}