body {
    padding-top: 70px;
}

.barra_nav {
    background-color: #adc178;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Sour Gummy", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 30px;
    margin-bottom: 30px;
}

.barra_nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 13px;
    font-weight: bold;
}   
.id_button {
    color :rgb(0, 0, 0);
    font-family: "Inder", sans-serif;
}
.id_titulo_prime {
    font-family: "Sour Gummy", sans-serif;
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
}
/* Contenedor general */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
}

/* Contenedor de cada campo */
.campo {
    display: flex;
    flex-direction: column;
    width: 320px;
    box-sizing: border-box;
}

/* Etiquetas (Usuario / Contraseña) */
.campo label {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Inputs de texto y contraseña */
.input-login {
    width: 100%; 
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #ccc;
    background-color: #eef4ff; 
}

/* Efecto cuando haces clic en el campo */
.input-login:focus {
    border-color: #2b6cb0;
    box-shadow: 0 0 5px rgba(43, 108, 176, 0.4);
    outline: none;
}

/* Botón */
.boton-login {
    background-color: #2b6cb0;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

.boton-login:hover {
    background-color: #1a4e8a;
}
