{% extends 'base.html' %}
<div id="avatar-container">
    <img id="layer-background" class="avatar-layer" src="{% static 'avatar/avatarjpg/back1.png' %}" alt="Fondo">
   <img id="layer-background2" class="avatar-layer" src="{% static 'avatar/avatarjpg/back2.png' %}" alt="Fondo 2">
   <img id="layer-background2" class="avatar-layer" src="{% static 'avatar/avatarjpg/back21.png' %}" alt="Fondo 2">
   
    <img id="layer-cuerpo" class="avatar-layer" src="{% static 'avatar/images/cuerpo1png' %}" alt="Cuerpo">
    
    <img id="layer-cara" class="avatar-layer" src="{% static 'avatar/images/cara1.apng' %}" alt="cara">
  <img id="layer-cara" class="avatar-layer" src="{% static 'avatar/images/cara2.png' %}" alt="cara">
  <img id="layer-cara" class="avatar-layer" src="{% static 'avatar/images/cara3.png' %}" alt="cara">
  <img id="layer-cara" class="avatar-layer" src="{% static 'avatar/images/cara4.png' %}" alt="cara">
  <img id="layer-cara" class="avatar-layer" src="{% static 'avatar/images/cara5.png' %}" alt="cara">

 <img id="layer-ojos" class="avatar-layer" src="{% static 'avatar/images/ojos1.png' %}" alt="Ojos">
    <img id="layer-ojos" class="avatar-layer" src="{% static 'avatar/images/ojos2.png' %}" alt="Ojos">
   <img id="layer-ojos" class="avatar-layer" src="{% static 'avatar/images/ojos3.png' %}" alt="Ojos">
 <img id="layer-ojos" class="avatar-layer" src="{% static 'avatar/images/ojos4.png' %}" alt="Ojos">
 <img id="layer-ojos" class="avatar-layer" src="{% static 'avatar/images/ojos5.png' %}" alt="Ojos"> 
 <img id="layer-ojos" class="avatar-layer" src="{% static 'avatar/images/ojos6.png' %}" alt="Ojos"> 
 <img id="layer-ojos" class="avatar-layer" src="{% static 'avatar/images/ojos7.png' %}" alt="Ojos">

    
 <img id="layer-ceja" class="avatar-layer" src="{% static 'avatar/images/ceja1.png' %}" alt="Cejas">
 <img id="layer-ceja" class="avatar-layer" src="{% static 'avatar/images/ceja2.png' %}" alt="Cejas">
  <img id="layer-ceja" class="avatar-layer" src="{% static 'avatar/images/ceja3.png' %}" alt="Cejas">
 <img id="layer-ceja" class="avatar-layer" src="{% static 'avatar/images/ceja4.png' %}" alt="Cejas"> 

    <img id="layer-boca" class="avatar-layer" src="{% static 'avatar/images/boca1.png' %}" alt="Boca">
    <img id="layer-boca" class="avatar-layer" src="{% static 'avatar/images/boca2.png' %}" alt="Boca">
    <img id="layer-boca" class="avatar-layer" src="{% static 'avatar/images/boca3.png' %}" alt="Boca">
    <img id="layer-boca" class="avatar-layer" src="{% static 'avatar/images/boca4.png' %}" alt="Boca">
    <img id="layer-boca" class="avatar-layer" src="{% static 'avatar/images/boca5.png' %}" alt="Boca">
    <img id="layer-boca" class="avatar-layer" src="{% static 'avatar/images/boca6.png' %}" alt="Boca">
    <img id="layer-boca" class="avatar-layer" src="{% static 'avatar/images/boca7.png' %}" alt="Boca">
    <img id="layer-boca" class="avatar-layer" src="{% static 'avatar/images/boca7.png' %}" alt="Boca">

    <img id="layer-patilla" class="avatar-layer" src="{% static 'avatar/images/patilla1.png' %}" alt="Patillas">
    <img id="layer-patilla" class="avatar-layer" src="{% static 'avatar/images/patilla2.png' %}" alt="Patillas">
    <img id="layer-patilla" class="avatar-layer" src="{% static 'avatar/images/patilla3.png' %}" alt="Patillas">
    <img id="layer-patilla" class="avatar-layer" src="{% static 'avatar/images/patilla4.png' %}" alt="Patillas">
    <img id="layer-patilla" class="avatar-layer" src="{% static 'avatar/images/patilla5.png' %}" alt="Patillas">
    <img id="layer-patilla" class="avatar-layer" src="{% static 'avatar/images/patilla6.png' %}" alt="Patillas">
    <img id="layer-patilla" class="avatar-layer" src="{% static 'avatar/images/patilla7.png' %}" alt="Patillas">

    <img id="layer-oreja" class="avatar-layer" src="{% static 'avatar/images/oreja1.png' %}" alt="Orejas">
    <img id="layer-oreja" class="avatar-layer" src="{% static 'avatar/images/oreja2.png' %}" alt="Orejas">
    <img id="layer-oreja" class="avatar-layer" src="{% static 'avatar/images/oreja3.png' %}" alt="Orejas">
    <img id="layer-oreja" class="avatar-layer" src="{% static 'avatar/images/oreja4.png' %}" alt="Orejas">
    <img id="layer-oreja" class="avatar-layer" src="{% static 'avatar/images/oreja5.png' %}" alt="Orejas">


    
    <img id="layer-pelo" class="avatar-layer" src="{% static 'avatar/images/chas1.png' %}" alt="Pelo Frontal">
    <img id="layer-pelo" class="avatar-layer" src="{% static 'avatar/images/chas2.png' %}" alt="Pelo Frontal">
    <img id="layer-pelo" class="avatar-layer" src="{% static 'avatar/images/chas3.png' %}" alt="Pelo Frontal">
    <img id="layer-pelo" class="avatar-layer" src="{% static 'avatar/images/chas4.png' %}" alt="Pelo Frontal">
    <img id="layer-pelo" class="avatar-layer" src="{% static 'avatar/images/chas5.png' %}" alt="Pelo Frontal">
    <img id="layer-pelo" class="avatar-layer" src="{% static 'avatar/images/chas6.png' %}" alt="Pelo Frontal">

    <img id="layer-peloatras" class="avatar-layer" src="{% static 'avatar/images/pelotras1.png' %}" alt="Pelo Trasero">
    <img id="layer-peloatras" class="avatar-layer" src="{% static 'avatar/images/pelotras2.png' %}" alt="Pelo Trasero">
    <img id="layer-peloatras" class="avatar-layer" src="{% static 'avatar/images/pelotras3.png' %}" alt="Pelo Trasero">
    <img id="layer-peloatras" class="avatar-layer" src="{% static 'avatar/images/pelotras4.png' %}" alt="Pelo Trasero">
    <img id="layer-peloatras" class="avatar-layer" src="{% static 'avatar/images/pelotras5.png' %}" alt="Pelo Trasero">
    <img id="layer-peloatras" class="avatar-layer" src="{% static 'avatar/images/pelotras6.png' %}" alt="Pelo Trasero">
    <img id="layer-peloatras" class="avatar-layer" src="{% static 'avatar/images/pelotras7.png' %}" alt="Pelo Trasero">

    <img id="layer-pelonuca" class="avatar-layer" src="{% static 'avatar/images/pelonuca1.png' %}" alt="Pelo">
    <img id="layer-pelonuca" class="avatar-layer" src="{% static 'avatar/images/pelonuca2.png' %}" alt="Pelo">
    <img id="layer-pelonuca" class="avatar-layer" src="{% static 'avatar/images/pelonuca3.png' %}" alt="Pelo">
    <img id="layer-pelonuca" class="avatar-layer" src="{% static 'avatar/images/pelonuca4.png' %}" alt="Pelo">
    <img id="layer-pelonuca" class="avatar-layer" src="{% static 'avatar/images/pelonuca5.png' %}" alt="Pelo">
    
    <img id="layer-ropa" class="avatar-layer" src="{% static 'avatar/images/polera1.png' %}" alt="ropa">
    <img id="layer-ropa" class="avatar-layer" src="{% static 'avatar/images/polera2.png' %}" alt="ropa">
    <img id="layer-ropa" class="avatar-layer" src="{% static 'avatar/images/polera3.png' %}" alt="ropa">
    <img id="layer-ropa" class="avatar-layer" src="{% static 'avatar/images/polera4.png' %}" alt="ropa">
    <img id="layer-ropa" class="avatar-layer" src="{% static 'avatar/images/chaqueta1.png' %}" alt="ropa">
    <img id="layer-ropa" class="avatar-layer" src="{% static 'avatar/images/chaqueta2.png' %}" alt="ropa">
    <img id="layer-ropa" class="avatar-layer" src="{% static 'avatar/images/chaqueta3.png' %}" alt="ropa">
    <img id="layer-ropa" class="avatar-layer" src="{% static 'avatar/images/chaqueta4.png' %}" alt="ropa">
 

    

    
    

    
    </div>

{% endblock %}
