{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bookity</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/bookity-logo.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inder&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
    <script src="{% static 'BookityApp/js/mapa.js' %}"></script>
    <nav class="barra_nav">
        <div class="logo">
            <a href="\inicio">Inicio</a>
        </div>
        <div class="enlaces">
            <a href="\publicaciones">Ver Publicaciones</a>
            {% if not user.is_authenticated %}
            <a href="\registro">Registrarse</a>
            <a href="\login">Iniciar Sesión</a>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="\publicar">Publicar Anuncio</a>
                <a href="\perfil">Perfil</a>
                <a href="\cerrar_sesion">Cerrar Sesión</a>
                {% if request.user.perfil.notificaciones.all %}
                    <a href="\notificaciones">Notificaciones</a>
                {% endif %}
            {% endif %}
                <a href="\sobre_nosotros">Nosotros</a>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    {% block extra_scripts %}
    {% endblock %}
</body>
</html>
