{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bookity</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="barra_nav">
        <div class="logo">
            <a href="\inicio">Inicio</a>
        </div>
        <div class="enlaces">
            <a href="\registro">Registrarse</a>
            <a href="\login">Iniciar Sesión</a>
            {% if user.is_authenticated %}
                <a href="\publicar">Publicar Anuncio</a>
                <a href="\cerrar_sesion">Cerrar Sesión</a>
            {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>