{% extends 'BookityApp/base.html' %}
{% block content %}
<div>
    <div class="publicacion_detalle">
        <h1 style="text-align: center; font-family: 'Sour Gummy', sans-serif;">{{ publicacion.titulo }}</h1>
        {% if publicacion.user == user %}
            <form method="post" action="{% url 'eliminar_publicacion' publicacion.id %}">
                {% csrf_token %}
                <button type="submit">Eliminar Publicación</button>
            </form>
        {% endif %}
        <p style="text-align: center; font-family: 'inder', sans-serif;">{{ publicacion.descripcion }}</p>
        <p style="text-align: center; font-family: 'inder', sans-serif;"><strong>Contacto:</strong> {{ publicacion.contacto }}</p>
        <p style="text-align: center; font-family: 'inder', sans-serif;"><strong>Tipo:</strong> {{ publicacion.tipo }}</p>
        <p style="text-align: center; font-family: 'inder', sans-serif;"><strong>Ubicación:</strong> {{ publicacion.ubicacion }}</p>
        <p style="text-align: center; font-family: 'inder', sans-serif;"><strong>Fecha de publicación:</strong> {{ publicacion.fecha_publicacion }}</p>
    </div>
    <div class="comentarios_seccion">
        <h2 style="text-align: center; font-family: 'inder', sans-serif;">Comentarios</h2>
        {% if user != publicacion.user %}
        {% if publicacion.estado == 'Cerrado' %}
            <p>Los comentarios están deshabilitados para esta publicación porque ya se cerró un trato.</p>
        {% else %}
        <form method="post">
            {% csrf_token %}
            {{ comentario_form.as_p }}
            <button type="submit">Agregar Comentario</button>
        </form>
        {% endif %}
        {% endif %}
        {% if publicacion.comentarios.all %}
            {% for comentario in publicacion.comentarios.all %}
                <div class="comentario">
                    <p><strong>{{ comentario.user.username }}:</strong> {{ comentario.texto }}</p>
                    <p><em>Publicado el {{ comentario.fecha_comentario }}</em></p>
                    {% if comentario.user == user %}
                        <form method="post" action="{% url 'eliminar_comentario' comentario.id %}">
                            {% csrf_token %}
                            <button type="submit">Eliminar</button>
                        </form>
                    {% endif %}
                    {% if publicacion.user == user and publicacion.estado != 'Cerrado' %}
                        <form method="post" action="{% url 'cerrar_trato' publicacion.id comentario.id %}">
                            {% csrf_token %}
                            <button type="submit">Cerrar Trato</button>
                        </form>
                    {% endif %}
                    {% if publicacion.trato_cerrado_con == comentario.user %}
                        <p>¡Trato hecho!</p>
                    {% endif %}
                    {% if publicacion.user == user and publicacion.estado == 'Cerrado' %}
                        <form method="post" action="{% url 'cancelar_trato' publicacion.id %}">
                            {% csrf_token %}
                            <button type="submit">Cancelar Trato</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>No hay comentarios aún.</p>
        {% endif %}
    </div>
</div>
{% endblock %}