{% extends 'BookityApp/base.html' %}
{% block content %}
<h1 class="titulo_inicio">Bienvenido a Bookity</h1>
<div style="
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  text-align: center;
  flex-direction: column;
  font-family: 'inder', sans-serif;
  font-size: 20px;
">
  
  <p>Aquí puedes donar o intercambiar libros con otras personas que aman leer tanto como tú.</p>
  <p>La idea es sencilla: compartir tus libros para que otros los disfruten, y descubrir nuevas lecturas.</p>
</div>

{% endblock %}