{% extends 'BookityApp/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}

<h1 class="id_titulo_prime">Iniciar Sesión en Bookity</h1>

<form method="post" class="login-form">
    {% csrf_token %}
    {% if mensaje_error %}
        <p style="color: red;">{{ mensaje_error }}</p>
    {% endif %}

    <div class="campo">
        <label for="{{ form.username.id_for_label }}">Usuario</label>
        {{ form.username }}
    </div>

    <div class="campo">
        <label for="{{ form.password.id_for_label }}">Contraseña</label>
        {{ form.password }}
    </div>

    <button type="submit" class="boton-login">Entrar</button>
</form>



{% endblock %}