{% extends 'BookityApp/base.html' %}

{% block content %}
<h2>Notificaciones</h2>

{% if request.user.perfil.notificaciones.all %}
    <form method="post" action="{% url 'eliminar_todas_notificaciones' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Vaciar lista de notificaciones</button>
    </form>
    {% for notificacion in request.user.perfil.notificaciones.all %}
        <div class="div-notificacion">
            {% if notificacion.otro_perfil %}
                <a href="{% url 'usuarios_perfil' notificacion.otro_perfil.user.username %}">{{ notificacion.otro_perfil.user.username }}</a>
                <p>{{ notificacion.mensaje }}</p>   
            {% else %}
                <p>{{ notificacion.mensaje }}</p>
            {% endif %}
            <form method="post" action="{% url 'eliminar_notificacion' notificacion.id %}">
                {% csrf_token %}
                <button type="submit">Quitar notificación</button>
            </form>
        </div>
    {% endfor %}
{% else %}
    <p>No tienes notificaciones.</p>
{% endif %}

{% endblock %}