{% extends 'BookityApp/base.html' %}
{% block content %}
<h1 style="text-align: center; font-family: 'Sour Gummy', sans-serif; font-size: 50px;">Perfil de Usuario</h1>
<h2 style="text-align: center; font-family: 'inder', sans-serif;">{{ user.username }}</h2>
<p><strong>Nivel:</strong> {{ perfil.nivel_usuario }}</p>
<p><strong>Puntaje:</strong> {{ perfil.puntaje_usuario }}</p>
<p><strong>Calificación Promedio:</strong></p>
{% if perfil.promedio_calificaciones %}
    {{ perfil.promedio_calificaciones|floatformat:2 }}
{% else %}
    Sin calificaciones aún
{% endif %}
<p><strong>Usuarios Seguidos:</strong></p>
{% if usuarios_seguidos %}
    <ul>
    {% for seguido in usuarios_seguidos %}
        <li>{{ seguido.user.username }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No sigues a ningún usuario.</p>
{% endif %}

<a href="{% url 'editar_perfil' %}">Editar Perfil</a>

<div class="contenedor-publicaciones">
    <h1 style="text-align: center; font-family: 'Sour Gummy', sans-serif;">Mis Publicaciones</h1>
    {% if publicaciones %}
        {% for publicacion in publicaciones %}
            <div class="publicacion">
                <h2 style="text-align: center; font-family: 'inder', sans-serif;">{{ publicacion.titulo }}</h2>
                <p style="text-align: center; font-family: 'inder', sans-serif;">{{ publicacion.descripcion }}</p>
                <p style="text-align: center; font-family: 'inder', sans-serif;"><em>Publicado el {{ publicacion.fecha_publicacion|date:"d/m/Y H:i" }}</em></p>
                <div style="text-align: center;">
                    <a href="{% url 'detalle' publicacion.id %}">Ver más información</a>
                </div>
                <form method="post" action="{% url 'eliminar_publicacion' publicacion.id %}">
                    {% csrf_token %}
                    <button style="margin-top:-250px"type="submit" >Eliminar Publicación</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <p>No has realizado ninguna publicación todavía.</p>
    {% endif %}
</div>
{% endblock %}