{% extends 'BookityApp/base.html' %}
{% block content %}
<h1 style="text-align: center; font-family: 'Sour Gummy', sans-serif; font-size: 50px;">Perfil de Usuario</h1>
<h2 style="text-align: center; font-family:'inder', sans-serif;">{{ user.username }}</h2>
<div class="ordenar_perfil1">
<p class="item"><strong>Nivel:</strong> {{ perfil.nivel_usuario }}</p>
<p class="item"><strong>Puntaje:</strong> {{ perfil.puntaje_usuario }}</p>
</div>    
<div class="ordenar_perfil1">
        <div class="item">
    <p><strong>Calificación Promedio:</strong></p>
    {% if perfil.promedio_calificaciones %}
        {{ perfil.promedio_calificaciones|floatformat:2 }}
        {% else %}
        Sin calificaciones aún
    {% endif %}
    </div>
    
    <div class="item">
    <p><strong>Usuarios Seguidos:</strong></p>
    {% if usuarios_seguidos %}
        <ul>
        {% for seguido in usuarios_seguidos %}
            <li><a href="{% url 'usuarios_perfil' seguido.user.username %}">{{ seguido.user.username }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No sigues a ningún usuario.</p>
    {% endif %}
    </div>
</div>
<a href="{% url 'editar_perfil' %}" class="boton_edit_perfil">Editar Perfil</a>

<h1 style="text-align: center; font-family: 'Sour Gummy', sans-serif;font-size:50px;">Mis Publicaciones</h1>
{% if publicaciones %}
    <div class="contenedor-publicaciones2">
        {% for publicacion in publicaciones %}
            <div class="publicacion">
                <h2>{{ publicacion.titulo }}</h2>
                <p>{{ publicacion.descripcion }}</p>
                <p><em>Publicado el {{ publicacion.fecha_publicacion|date:"d/m/Y H:i" }}</em></p>
                <div>
                    <a href="{% url 'detalle' publicacion.id %}" style="text-decoration: none;color: black;font-weight: bold;">Ver más información</a>
                </div>
                <form method="post" action="{% url 'eliminar_publicacion' publicacion.id %}">
                    {% csrf_token %}
                    <button type="submit">Eliminar Publicación</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class="mensaje_sin_pub">No has realizado ninguna publicación todavía.</p>
{% endif %}

{% endblock %}