{% extends 'BookityApp/base.html' %}
{% load static %}

{% block content %}

<h1 style="text-align: left; font-family: 'Sour Gummy', sans-serif;">Publicar Anuncio</h1>
<form method="post">
  <div class="div-publicar-izq" style="align-self: left;"></div>
      {% csrf_token %}
      {{ form }}
  </div>
  <div class="div-publicar-der">
      <div class="mb-3">
      <span id="radio_valor">{{ form.instance.radio_marcador|default:500 }}</span>m
      <p>Radio de entrega. Esta ubicación es referencial, por favor no revele información delicada.</p>
    </div>
    <div id="map" style="height: 400px;"></div>
    <button style="margin-top:25px;"type="submit">Publicar</button>
  </div>
</form>

<script>
    const latitud_defecto = {{ user.perfil.latitud_defecto|default:"null" }};
    const longitud_defecto = {{ user.perfil.longitud_defecto|default:"null" }};
    const radio_defecto = {{ user.perfil.radio_marcador_defecto|default:500 }};

    const slider = document.getElementById("id_radio_marcador");
    const output = document.getElementById("radio_valor");

    if (slider && output) {
        output.textContent = slider.value;
        slider.addEventListener("input", () => {
            output.textContent = slider.value;
            window.dispatchEvent(new CustomEvent('cambioRadio', { detail: { value: slider.value } }));
        });
    }
</script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="{% static 'js/mapa.js' %}"></script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    if (typeof initMap === 'function') {
      initMap();
    }
  });
</script>
{% endblock %}