#avatar-contenedor {
     width: 300px; 
     height: 300px;
     position: relative; 
     margin: 20px auto; 
     border: 1px solid #ddd; 
     overflow: hidden; 
     } 
  
    .avatar-capa {
     width: 100%;
     height: 100%;
     position: absolute; 
     top: 0;
     left: 0;
     } 

     #layer-back { z-index: 1; }
     #layer-back2 { z-index: 3 }
     #layer-peloatras { z-index: 5;  }
     #layer-cuerpo       { z-index: 10; } 
     #layer-cara { z-index: 15; }
     #layer-boca { z-index: 17; }
     #layer-ceja { z-index: 20}
     #layer-ropa  { z-index: 25; }
     #layer-pelonuca { z-index: 27; } 
     #layer-ojos       { z-index: 30; } 
     #layer-patilla { z-index: 35; }
     #layer-pelo { z-index: 40; } 
     #layer-ceja { z-index: 45; }
     #layer-accesorio2 { z-index: 50; }
